//https://color.adobe.com/create/color-wheel/?base=2&rule=Complementary&selected=1&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.09557933611957765,0.7,0.5723702229889871,0.38756961651554744,1,0.8706788864942684,0.28756961651554747,1,0.8495628352673595,0.7,0.22776863255594929,0.06129873156088325,1,0.473256135808626,0.28756961651554747&swatchOrder=0,1,2,3,4
/*$color1: #18B292;
$color2: #63FFDE;
$color3: #49FFD9;
$color4: #B23A10;
$color5: #FF7949;*/

/*$color1: #000000;
$color2: #63FFDE;
$color3: #49FFD9;
$color4: #B23A10;
$color5: #FF7949;*/

$color1: #222324;
$color2: #3D3E3F;