@import 'main';

@mixin center {
	display: flex;
	justify-content: center;
	margin: 2em 0 2em 0;
}

body {
	.centered {
		@include center;
		margin: 2em 0 2em 0;
	}

	.centered-column {
		@include center;
		margin: unset;
		flex-flow: column;
	}

	.title {
		font-size: 44px;
		margin: unset;
		text-align: center;
	}

	.uncentered-title {
		font-size: 44px;
		margin: unset;
	}

	.bigger-title {
		font-size: 96px;
		margin: unset;
		text-align: center;
	}

	.big-title {
		font-size: 64px;
		margin: unset;
		text-align: center;
	}

	.small-title {
		font-size: 26px;
		margin: unset;
	}

	.example-info {
		width: 20em;
	}

	.invaders {
		width: 20em;
		height: 10em;
	}

	.info {
		@include center;
		justify-content: space-around;
	}

	.info-child {
		width: calc((100% / 4));
	}

	.uncentered {
		@include center;
		justify-content: space-between;
	}

	#brain {
		width: 65%;
		height: auto;
		margin-left: calc(35%/2);
	}

	a {
		color: $color3;
	}

	pre {
		background-color: $color2;
	}

	header {
		background-color: $color2;
		color: $text2;
		display: flex;
		user-select: none;
		height: 4em;

		img {
			border: unset;
			margin: 0.1em;
			height: 90%;
		}

		section {
			display: flex;
			flex-grow: 1;

			.header-option {
				width: calc(100% / 3);
				display: flex;
				flex-flow: column;
				justify-content: center;
				border-left: 0.15em $color2 * 1.2 solid;
				transition: background-color 0.2s;

				&:hover {
					cursor: pointer;
					background-color: $color2 * 1.2;
				}

				p {
					font-size: 2em;
				}
			}
		}
	}

	footer {
		color: $text2;
		margin-bottom: 0px !important;
		width: 100%;
		background-color: $color2;

		img {
			width: 25%;
		}

		div {
			margin-left: 1em;
			display: flex;
			flex-flow: column;
			justify-content: center;
			p {
				margin: 0px;
			}
		}
	}
}

@media only screen and (max-width: 1000px) {
	.unflex {
		flex-flow: column !important;
	}

	.reflex {
		display: flex;
		justify-content: center;
	}

	.text-reflex {
		text-align: center !important;
	}

	.un-percent {
		width: 100% !important;
	}

	header {
		height: fit-content !important;
		section{
			flex-flow: column;
			.header-option {
				width: 100% !important;
				height: 6em;
				border-left: unset;
				border-top: 0.15em $color2 * 1.2 solid;
				font-size: 1.5em;
			}
		}
	}
}