@import 'main';

@mixin center {
	display: flex;
	justify-content: center;
	margin: 32px 0 32px 0;
}

#index-body {
	display: flex;
	flex-flow: column;
	&:last-child {
		align-self: flex-end;
	}
}

body {

	.centered {
		@include center;
		margin: 32px 0 32px 0;
	}

	.centered-column {
		@include center;
		margin: unset;
		flex-flow: column;
	}

	.centered-text {
		text-align: center;
	}

	.title {
		font-size: 44px;
		margin: unset;
		text-align: center;
	}

	.uncentered-title {
		font-size: 44px;
		margin: unset;
	}

	.bigger-title {
		font-size: 96px;
		margin: unset;
		text-align: center;
	}

	.big-title {
		font-size: 64px;
		margin: unset;
		text-align: center;
	}

	.small-title {
		font-size: 26px;
		margin: unset;
	}

	.big-text {
		font-size: 22px;
		margin: unset;
	}

	.medium-title {
		font-size: 32px;
		margin: unset;
	}

	.example-info {
		width: 320px;
	}

	.invaders {
		width: 320px;
		height: 160px;
	}

	.info {
		@include center;
		justify-content: space-around;
	}

	.info-child {
		width: calc((100% / 4));
	}

	.uncentered {
		@include center;
		justify-content: space-between;
		user-select: none;
		* {
			text-decoration: none;
		}
	}

	.pad {
		margin-bottom: 48px;
	}

	.big-pad {
		margin-bottom: 80px;
	}

	.tight {
		* {
			margin: unset;
		}
	}

	.push {
		margin-left: 40px;
	}

	.highlight {
		padding: 11.2px;
		background-color: $color2;
		border-radius: 20px;
	}

	#brain {
		width: 65%;
		height: auto;
		margin-left: calc(35%/2);
	}

	#brain-wrapper {
		flex-grow: 1;
	}

	a {
		color: $color3;
	}

	header {
		background-color: $color2;
		color: $text2;
		display: flex;
		user-select: none;
		height: 64px;

		img {
			border: unset;
			margin: 1.6px;
			height: 90%;
		}

		section {
			display: flex;
			flex-grow: 1;

			.header-option {
				width: calc(100% / 3);
				display: flex;
				flex-flow: column;
				justify-content: center;
				border-left: 2.4px $color2 * 1.2 solid;
				transition: background-color 0.2s;
				color: $text1;
				text-decoration: none;

				&:hover {
					cursor: pointer;
					background-color: $color2 * 1.2;
				}

				p {
					font-size: 32px;
				}
			}
		}
	}

	footer {
		color: $text2;
		margin-bottom: 0px !important;
		width: 100%;
		height: min-content;
		background-color: $color2;
		align-self: flex-end;

		img {
			max-width: 380px;
			max-height: calc(380px / (959/222));
			margin: 8px 0 8px 0;
		}

		div {
			margin-left: 16px;
			display: flex;
			flex-flow: column;
			justify-content: center;
			p {
				margin: 0px;
			}
		}
	}
}

@media only screen and (max-width: 1030px) {
	.unflex {
		flex-flow: column !important;
	}

	.reflex {
		display: flex;
		justify-content: center;
	}

	.text-unflex {
		text-align: left;
	}

	.text-reflex {
		text-align: center !important;
	}

	.un-percent {
		width: 100% !important;
	}

	.unpush {
		margin-left: unset !important;
	}

	.small-title {
		font-size: 42px !important;
	}

	.enlarge {
		font-size: 24px;
	}

	footer {
		position: relative;
		bottom: 0;
	}

	/*header {
		height: fit-content !important;
		section{
			flex-flow: column;
			.header-option {
				width: 100% !important;
				height: 6em;
				border-left: unset;
				border-top: 0.15em $color2 * 1.2 solid;
				font-size: 1.5em;
			}
		}
	}*/
}